In [8]:
import pandas as pd
import numpy as np

data = np.array([[1,4],[2,5],[3,6]])
df = pd.DataFrame(data, index=['row1','row2','row3'],columns=['col1','col2'])
df

      col1  col2
row1     1     4
row2     2     5
row3     3     6

In [9]:
data = [[1,4],[2,5],[3,6]]
df = pd.DataFrame(data, index=['row1','row2','row3'],columns=['col1','col2'])
df

      col1  col2
row1     1     4
row2     2     5
row3     3     6

In [10]:
states = ['cali','texas','florida','new york']
population = [100,200,300,500]
pop_dict = {"states":states,"population":population}

df = pd.DataFrame(pop_dict)
df

     states  population
0      cali         100
1     texas         200
2   florida         300
3  new york         500

In [46]:
airport = pd.read_csv('../airports.csv')
airport

,AirportName,IATA,ICAO,TimeZone,City_Name,City_IATA,UTC_Offset_Hours,UTC_Offset_Seconds,Country_CodeA2,Country_CodeA3,Country_Name,GeoPointLat,GeoPointLong
0,Pilanesberg Intl,NTY,FAPN,Africa/Johannesburg,Sun City,NTY,2.0,7200.0,ZA,ZAF,South Africa,-25.333822,27.173358
1,Clovis Muni,CVN,KCVN,America/Denver,"Clovis, New Mexico",CVN,-6.0,-21600.0,US,USA,United States of America,34.425139,-103.079278
2,Cannon Afb,CVS,KCVS,America/Denver,"Clovis, New Mexico",CVN,-6.0,-21600.0,US,USA,United States of America,34.382775,-103.322147
3,Scammon Bay Airport,SCM,PACM,America/Nome,"Scammon Bay, Alaska",SCM,-8.0,-28800.0,US,USA,United States of America,61.845278,-165.571389
4,Kapit,KPI,NaN,Asia/Kuching,Kapit,KPI,8.0,28800.0,MY,MYS,Malaysia,2.017000,112.950000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6388,Prince Abdul Majeed Airport,ULH,OEAO,Africa/Cairo,AlUla,ULH,3.0,10800.0,SA,SAU,Saudi Arabia,26.479220,38.116890
6389,Yartsevo,YAE,NaN,Asia/Krasnoyarsk,Yartsevo (Krasnoyarsk Krai),YAE,7.0,25200.0,RU,RUS,Russian Federation,60.251752,90.204909
6390,JIANSANJIANG,JSJ,NaN,Asia/Shanghai,Fujin,JSJ,8.0,28800.0,CN,CHN,China,47.110000,132.660278
6391,KALUMBILA,UMB,NaN,Africa/Lusaka,Kalumbila,UMB,2.0,7200.0,ZM,ZMB,Zambia,-12.253580,25.444320
6392,Omolon,NaN,NaN,Asia/Kamchatka,Omolon,NaN,12.0,43200.0,RU,RUS,Russian Federation,65.141200,160.330000

In [47]:
airport.shape

(6393, 13)

In [48]:
pd.set_option('display.max_rows',10)

In [49]:
print(airport)

                      AirportName IATA  ICAO             TimeZone  \
0                Pilanesberg Intl  NTY  FAPN  Africa/Johannesburg
1                     Clovis Muni  CVN  KCVN       America/Denver
2                      Cannon Afb  CVS  KCVS       America/Denver
3             Scammon Bay Airport  SCM  PACM         America/Nome
4            Kapit                 KPI   NaN         Asia/Kuching
...                           ...  ...   ...                  ...
6388  Prince Abdul Majeed Airport  ULH  OEAO         Africa/Cairo
6389                     Yartsevo  YAE   NaN     Asia/Krasnoyarsk
6390                 JIANSANJIANG  JSJ   NaN        Asia/Shanghai
6391                    KALUMBILA  UMB   NaN        Africa/Lusaka
6392                       Omolon  NaN   NaN       Asia/Kamchatka

                        City_Name City_IATA  UTC_Offset_Hours  \
0                        Sun City       NTY               2.0
1              Clovis, New Mexico       CVN              -6.0
2              Clovis, New Mexico       CVN              -6.0
3             Scammon Bay, Alaska       SCM              -8.0
4                           Kapit       KPI               8.0
...                           ...       ...               ...
6388                        AlUla       ULH               3.0
6389  Yartsevo (Krasnoyarsk Krai)       YAE               7.0
6390                        Fujin       JSJ               8.0
6391                    Kalumbila       UMB               2.0
6392                       Omolon       NaN              12.0

      UTC_Offset_Seconds Country_CodeA2 Country_CodeA3  \
0                 7200.0             ZA            ZAF
1               -21600.0             US            USA
2               -21600.0             US            USA
3               -28800.0             US            USA
4                28800.0             MY            MYS
...                  ...            ...            ...
6388             10800.0             SA            SAU
6389             25200.0             RU            RUS
6390             28800.0             CN            CHN
6391              7200.0             ZM            ZMB
6392             43200.0             RU            RUS

                  Country_Name  GeoPointLat  GeoPointLong
0                 South Africa   -25.333822     27.173358
1     United States of America    34.425139   -103.079278
2     United States of America    34.382775   -103.322147
3     United States of America    61.845278   -165.571389
4                     Malaysia     2.017000    112.950000
...                        ...          ...           ...
6388              Saudi Arabia    26.479220     38.116890
6389        Russian Federation    60.251752     90.204909
6390                     China    47.110000    132.660278
6391                    Zambia   -12.253580     25.444320
6392        Russian Federation    65.141200    160.330000

[6393 rows x 13 columns]

In [51]:
#attributes functions methods

print(airport.shape)
print(airport.index)
print(airport.columns)

print(airport.dtypes)

(6393, 13)
RangeIndex(start=0, stop=6393, step=1)
Index(['AirportName', 'IATA', 'ICAO', 'TimeZone', 'City_Name', 'City_IATA',
       'UTC_Offset_Hours', 'UTC_Offset_Seconds', 'Country_CodeA2',
       'Country_CodeA3', 'Country_Name', 'GeoPointLat', 'GeoPointLong'],
      dtype='object')
AirportName        object
IATA               object
ICAO               object
TimeZone           object
City_Name          object
                   ...
Country_CodeA2     object
Country_CodeA3     object
Country_Name       object
GeoPointLat       float64
GeoPointLong      float64
Length: 13, dtype: object

In [53]:
# print(airport.head(10))
airport.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6393 entries, 0 to 6392
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   AirportName         6393 non-null   object
 1   IATA                6373 non-null   object
 2   ICAO                5091 non-null   object
 3   TimeZone            6305 non-null   object
 4   City_Name           6393 non-null   object
 5   City_IATA           6331 non-null   object
 6   UTC_Offset_Hours    6305 non-null   float64
 7   UTC_Offset_Seconds  6305 non-null   float64
 8   Country_CodeA2      6379 non-null   object
 9   Country_CodeA3      6393 non-null   object
 10  Country_Name        6393 non-null   object
 11  GeoPointLat         6393 non-null   float64
 12  GeoPointLong        6393 non-null   float64
dtypes: float64(4), object(9)
memory usage: 649.4+ KB

In [54]:
airport.describe()

       UTC_Offset_Hours  UTC_Offset_Seconds  GeoPointLat  GeoPointLong
count       6305.000000         6305.000000  6393.000000   6393.000000
mean           0.802617         2889.421094    24.582156     -0.664904
std            5.774235        20787.244205    27.860225     88.824945
min          -11.000000       -39600.000000   -54.931100   -179.877000
25%           -4.000000       -14400.000000     0.022600    -78.489400
50%            2.000000         7200.000000    31.942528      0.306666
75%            5.000000        18000.000000    46.351667     64.364167
max           14.000000        50400.000000    82.517778    179.951000

In [57]:
#functions
print(len(airport))
print(max(airport.index))
print(min(airport.index))
print(type(airport))

6393
6392
0
<class 'pandas.core.frame.DataFrame'>